@font-face {
    font-family: Oswald;
    src:url('https://fonts.googleapis.com/css?family=Oswald');
}

@font-face {
    font-family: Raleway;
    src:url('https://fonts.googleapis.com/css?family=Raleway');
}
